.headerContainer {
  height: 20rem;
  display: flex;
  background-color: var(--gray-700);

  justify-content: center;
  align-items: center;
  position: relative;
}

.newTaskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;

  gap: 0.8rem;
  width: 50vw;
  transform: translateY(50%);
}

.input {
  background-color: var(--gray-500);
  flex: 90%;
  color: var(--gray-300);
}

.input::placeholder {
  color: var(--gray-300);
}

.button {
  background-color: var(--blue);
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex: 10%;
}
